  <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="start center">
    <span fxLayout="row" fxFlex="50px" fxLayoutGap="5px">
      <a routerLink="/ride"><i class="material-icons logo">&#xE559;</i></a>
    </span>
    <span fxLayout="row" fxFlex="100px">
      <h1 class="title">{{ _carPoolService.appTitle | uppercase }}</h1>
    </span>
    <span fxLayout="row" fxFlex fxLayoutAlign="end center" *ngIf="_userService.getUserLoggedIn()">
       <i class="material-icons person-icon-2">&#xE7FD;</i>
    </span>
  </mat-toolbar>

