  <div fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="login-form">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <span class="label-14">Username</span>
        <mat-form-field>
          <input matInput placeholder="10-digit mobile number or email ID"  formControlName="username">
        </mat-form-field>
        <span class="label-14">Password</span>
        <mat-form-field>
          <input type="password" matInput placeholder="password"  formControlName="password">
        </mat-form-field>
        <div>
          <a class="label-14-blue">FORGOT PASSWORD?</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button type="submit" [disabled]="loginForm.status != 'VALID'" mat-raised-button color="primary">LOGIN</button>
        </div>
      </form>
    </mat-card>
  </div>
  <br/>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <span class="label-12">Don't have an account?</span>
    <a routerLink="/register" class="label-14-blue">REGISTER NOW</a>
  </div>
