  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="register-form">
      <form [formGroup]="registerForm" novalidate>
        <span class="label-14">First Name</span>
        <mat-form-field>
          <input matInput placeholder="enter your first name & last name" formControlName="name">
        </mat-form-field>

        <span class="label-14">Email ID</span>
        <mat-form-field>
          <input matInput type="email" placeholder="enter your email ID" formControlName="email" [email]="true">
        </mat-form-field>

        <span class="label-14">Mobile Number</span>
        <mat-form-field>
          <input matInput placeholder="enter your 10-digit mobile number" formControlName="mobile">
        </mat-form-field>


        <span class="label-14">Password</span><span>(min 6 characters)</span>
        <mat-form-field>
          <input type="password" matInput placeholder="set your password" formControlName="password">
        </mat-form-field>

        <span class="label-14">Re-enter Password</span><span>(min 6 characters)</span>
        <mat-form-field>
          <input type="password" matInput placeholder="re-enter your password" formControlName="confirmPassword">
        </mat-form-field>

        <span class="label-14">Car Model</span>
        <mat-form-field>
          <input matInput placeholder="name of the car you have" formControlName="carModel">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center">
          <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.status != 'VALID'">REGISTER</button>
        </div>
      </form>
    </mat-card>
  </div>

  <br/>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <span class="label-12">Already have an account?</span>
    <a routerLink="/login" class="label-14-blue">LOGIN NOW</a>
  </div>
